*{
    margin:0;
    padding:0;
}

html{
    font-size: 20px;
}

body{background-color: gray;}


.container{
    width: 900px;
    margin: auto;
    margin-top: -30px;
    background-color: azure;
}

.header .judul{
    font-family: arial;
    font-size: 4em;
    color: violet;
    margin-top: 0.25em;
    margin-left: 15px;
}



.header ul li{
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
}

.header ul li a{
    text-decoration: none;
}


.header ul li a:hover{
    background-color: salmon;
}


.container .hero{
    background-image: url(laptop.jpg);
    height: 300px;
    border-top: 5px solid salmon;
    margin-top: 5px;
    border-bottom: 5px solid skyblue;
    background-position: 0 -50px;
}



.konten p a{
    text-decoration: none;
}



.footer{
    width: auto;
    height: 50px;
    background-color: blue;
}



.footer p{
    text-align: center;
    font-family: arial;
    color: red;
    line-height:50px ;
}


.main{
    width: 700px;
}

.main .konten{
    width: 500px;
    margin: 15px;
    float:left;
    box-sizing: border-box;
}
 .main .sidebar{
    width: 150px;
    float: right;

}
.clear{
    clear: both;
}